
{% extends "app/base.html" %}
{% block title %}PRD-forgotpassword{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="width: 50rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter your registered email address to send password reset link</legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send</button>
            </div>
        </form>

    </div>
{% endblock content %}